html {
  height: 100%;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-darker {
  background-color: #222222 !important;
}

.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-nav {
  width: 80vmin;
  display: inline-flex;
  justify-content: space-evenly;
}

.home-nav a {
  text-align: center;
  font-weight: bold;
  background: #222222;
  padding: 2vmin;
  transition: filter 0.25s ease;
  color: ghostwhite;
  text-decoration: none;
  margin-top: 1vmax;
  margin-bottom:1vmax;
}

.home-nav a:hover {
  color: ghostwhite;
  text-decoration: none;
  filter: brightness(125%);
}

.r-header-1 {
  font-size: 12vmin !important;
}

.r-header-2 {
  font-size: 10vmin !important;
}

.r-header-3 {
  font-size: 8vmin !important;
}

.r-header-4 {
  font-size: 6vmin !important;
}

.r-text-small {
  font-size: 3vmin !important;
}

.r-subheading {
  font-size: 5vmin !important;
}

.img-github {
  max-width: 20vmin;
}

.link-plain a {
  color:inherit;
  text-decoration: none;
}

.link-plain a:hover {
  color: inherit;
}

.main-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: #222222;
  position: sticky;
  margin-bottom: 2vmax;
  box-shadow: 0 -1vmin 2.5vmin 0.5vmin black;
}

.main-nav a {
  padding: 1vmax;
  background: #2A2A2A;
  text-align: center;
}

.main-nav-link {
  transition: filter 0.25s ease;
  color: ghostwhite;
}

.main-nav-link:hover {
  filter:brightness(125%);
  text-decoration: none;
  color: ghostwhite;
}

.main-nav a.main-nav-active {
  color:ghostwhite;
}

.main-nav a.main-nav-active:hover {
  text-decoration: none;
  color:ghostwhite;
}

.wou {
  color: ghostwhite;
  background: #db0a29;
}

.img-work {
  max-width: 100%;
}

.experience-toggle button {
  text-align: center;
  color: ghostwhite;
  border: none;
  padding: 1vmin;
}
