$colorPrimary: powderblue;
$colorPrimaryVariant: dodgerblue;
$colorOnPrimary: #444444;
$colorOnPrimaryVariant: ghostwhite;

$colorPrimaryDark: #343a40;
$colorPrimaryVariantDark: #222222;
$colorOnPrimaryDark: ghostwhite;
$colorOnPrimaryVariantDark: ghostwhite;

$colorOnLight: #222222;

